/* External style sheet */
a                   {text-decoration: none;}
p                   {margin-top: 3px; margin-bottom: 3px; text-align: justify}
label               {text-align: right; display: inline-block; width: 100px; color: black;}
input               {display: inline-block; width: 200px; height: 20px;}
input[type=submit]  {border: 2px solid; border-radius: 10px; width: 100px; height: 30px; background-color: deepskyblue;}
input[type=reset]   {border: 2px solid; border-radius: 10px; width: 100px; height: 30px; background-color: limegreen;}
button              {
    border: 2px solid black; 
    border-radius: 10px; 
    width: 100%; 
    height: 30px; 
    background-color: royalblue;
    color: white;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    margin: 0px;
    padding: 0px;
    width: 1000px;
}

div label {
    margin: 0px;
    width: auto;
}

header {
    font-family:'Times New Roman', Times, serif;
    padding: 5px;
    color: royalblue;
    overflow: hidden;
}

header h1 {
    margin: 0px;
    padding: 0px;
    font-size: 250%;
    white-space: nowrap;
    animation-name: slidingText;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes slidingText {
    from    {padding-left: 1000px;}
    to      {padding-left: 0px;}
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: royalblue;
}

nav .btn {
    color: white;
    background-color: royalblue;
    border-right: 1px solid;
    border-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 50px;
}

h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    color: royalblue;
}

h3 {
    margin: 0px;
    padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

form label {
    width: 100px;
}

/* class */
.content {
    font-family:''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
    color: royalblue;
    display: flex;
    flex-direction: row;
}

.search {
    width: 200px;
    border: 1px solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.search * {
    width: 180px;
    margin-bottom: 5px;
}

.search label {
    text-align: left;
}

.items {
    width: 800px;
    border: 1px solid;
    padding: 5px;
}

.item_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 0px;
    justify-content: center;
}

.item {
    margin: 5px;
    border: 1px solid;
    width: 370px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item * {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.item #name {
    position: relative;
    top: 0px;
    padding: 3px;
    width: 100%;
    height: 15%;

    background-color: royalblue;
    text-align: center;
    font-size: 25px;
    color: white;
}

.item #price {
    visibility: hidden;
    width: 100%;
    height: 10%;
    padding-right: 10px;
    text-align: right;
    font-size: 15px;
    background: aqua;
}

.item #description {
    visibility: hidden;
    width: 100%;
    height: 75%;
    padding: 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.item_focused {
    margin: 1px;
    border: 5px solid;
    width: 370px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_focused * {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.item_focused #name {
    border: 0px;
    position: relative;
    top: 0px;
    padding: 2px;
    width: 99%;
    height: 50px;

    background-color: royalblue;
    text-align: right;
    font-size: 25px;
    color: yellow;
}

.item_focused #price {
    visibility: visible;
    width: 100%;
    height: 30px;
    padding-right: 10px;
    text-align: right;
    font-size: 15px;
    background: aqua;
}

.item_focused #description {
    visibility: visible;
    width: 100%;
    height: 85%;
    padding: 50px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.information {
    display: flex;
    flex-direction: column;
}

.information section {
    margin: 10px;
    column-count: 2;
    column-gap: 20px;
    column-width: 300px;
    column-rule-style: solid;
    column-rule-width: 1px;
}

