/* External style sheet */
a                   {text-decoration: none;}
p                   {margin-top: 0px;}
label               {text-align: right; display: inline-block; width: 100px; color: black;}
input               {display: inline-block; width: 200px; height: 20px;}
input[type=submit]  {border: 2px solid; border-radius: 10px; width: 100px; height: 30px; background-color: deepskyblue;}
input[type=reset]   {border: 2px solid; border-radius: 10px; width: 100px; height: 30px; background-color: limegreen;}

body {
    margin: 10px;
}

header {
    font-family:'Times New Roman', Times, serif;
    padding: 5px;
    color: royalblue;
}

header h1 {
    margin: 0px;
    padding: 0%;
    font-size: 250%;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: royalblue;
}

nav .btn {
    color: white;
    background-color: royalblue;
    border-right: 1px solid;
    border-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div {
    margin: 5px;
    padding: 0px;
    border-bottom: 5px solid;
}

h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content {
    font-family:''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
    color: royalblue;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}